### Data Cleaning

In [70]:
import pandas as pd
import numpy as np

In [71]:
df = pd.read_csv("/Users/janezhang/Documents/Duke/datafest2021/df_data/US/us_19.csv")

### Get list of response variables

In [72]:
categories = ["USE", "USEYR","NMU", "NMUYR"]
prescript = ["PAINREL", "STIM", "SED", "THC", "OP"]

In [73]:
response_var = ["DEM_GENHEALTH",'DEM_HEALTH']

for p in prescript:
    for c in categories:
        response_var.append(p+"_"+c)

In [74]:
predict_var = ['DEM_GENDER',
               'DEM_REGION',
               'DEM_AGE',
               'DEM_VET',
               'DEM_STDNT',
               'DEM_EDU',
               'DEM_PREG',
               'DEM_MARITAL',
               'DEM_RACE',
              'DEM_EMPLOY',
              'DEM_INSUR',
              'DEM_HOPSTAY',
              'DEM_INCOME',
              'PAIN_CHRONIC',
              'PAIN_ACUTE',
              'DAST_10']

In [75]:
cols = []

for c in df.columns:
    for x in predict_var:
        if x in c:
            cols.append(c)
    if c in response_var:
        cols.append(c)

In [88]:
cols

['DEM_GENDER',
 'DEM_AGE',
 'DEM_REGION',
 'DEM_INCOME',
 'DEM_GENHEALTH',
 'DAST_10',
 'PAIN_CHRONICYR',
 'PAIN_CHRONICYR_DOC',
 'PAIN_CHRONICYR_RX',
 'PAIN_ACUTEYR',
 'PAIN_ACUTEYR_DOC',
 'PAIN_ACUTEYR_RX',
 'DEM_RACE_AIAN',
 'DEM_RACE_ASIAN',
 'DEM_RACE_BLACK',
 'DEM_RACE_NHPI',
 'DEM_RACE_WHITE',
 'DEM_RACE_OTH',
 'DEM_MARITAL',
 'DEM_PREG',
 'DEM_PREG_WK',
 'DEM_EDU',
 'DEM_STDNT',
 'DEM_STDNT_PROGRAM',
 'DEM_STDNT_UNDER',
 'DEM_VET',
 'DEM_VET_SERV',
 'DEM_HEALTH',
 'DEM_EMPLOY',
 'DEM_INSUR',
 'DEM_AGE10',
 'PAINREL_USE',
 'PAINREL_USEYR',
 'PAINREL_NMU',
 'PAINREL_NMUYR',
 'SED_USE',
 'SED_USEYR',
 'SED_NMU',
 'SED_NMUYR',
 'STIM_USE',
 'STIM_USEYR',
 'STIM_NMU',
 'STIM_NMUYR',
 'THC_USE',
 'THC_USEYR',
 'THC_NMU',
 'THC_NMUYR',
 'OP_USE',
 'OP_USEYR',
 'OP_NMU',
 'OP_NMUYR']

In [76]:
df_clean = df[cols]
df_clean = df_clean.drop(["DEM_PREG_WK","DEM_VET_SERV","DEM_STDNT_UNDER"],axis=1)

In [81]:
df_clean["DEM_STDNT_PROGRAM1"] = df_clean.apply(lambda x: 0 if pd.isnull(x["DEM_STDNT_PROGRAM"]) else 1, axis=1)

In [89]:
df_clean["ALL_NMU"] = df.apply(lambda x: 1 if x["THC_NMU"]+ x["OP_NMU"]+ x["SED_NMU"]+ x["STIM_NMU"] + x["PAINREL_NMU"] > 0 else 0, axis=1)
df_clean["ALL_USE"] = df.apply(lambda x: 1 if x["THC_USE"]+ x["OP_USE"]+ x["SED_USE"]+ x["STIM_NMU"] + x["PAINREL_NMU"] > 0 else 0, axis=1)

In [91]:
df_clean.sort_values(["THC_NMU"])

,DEM_GENDER,DEM_AGE,DEM_REGION,DEM_INCOME,DEM_GENHEALTH,DAST_10,PAIN_CHRONICYR,PAIN_CHRONICYR_DOC,PAIN_CHRONICYR_RX,PAIN_ACUTEYR,...,THC_USE,THC_USEYR,THC_NMU,THC_NMUYR,OP_USE,OP_USEYR,OP_NMU,OP_NMUYR,DEM_STDNT_PROGRAM1,ALL_NMU
0,2,51,3,4,2,0,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
19810,2,54,3,5,4,0,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
19809,2,35,3,3,3,0,0,NaN,NaN,0,...,0,0,0,0,1,0,0,0,0,0
19808,1,53,3,2,3,0,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
19807,2,36,3,2,4,0,0,NaN,NaN,0,...,0,0,0,0,1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24613,1,20,4,2,3,1,1,0.0,NaN,0,...,1,0,1,0,1,1,1,1,1,1
13233,1,31,1,4,4,0,0,NaN,NaN,0,...,1,1,1,1,1,0,1,0,0,1
23750,2,32,2,3,4,1,1,1.0,0.0,1,...,1,1,1,0,1,1,1,1,0,1
18022,1,39,1,5,5,0,0,NaN,NaN,0,...,1,1,1,1,1,1,1,1,0,1
11004,1,32,1,4,3,0,0,NaN,NaN,0,...,1,1,1,1,1,1,1,1,0,1

### Export data

In [92]:
df_clean.to_csv("/Users/janezhang/Documents/Duke/datafest2021/df_data/US/us_19_clean.csv")